<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a Carousell, a buy and sell platform for everyone.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
     
    <%= link_to "Add listing", new_listing_path, class:"btn btn-primary btn-lg"  %>
  </p>
</div>